// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$secondary-contrast: #03e9f4;
$background-color: #0005;
$primary-contrast: #F4F4F4;
$bright-color: #720A75;
$light-color: #C264C8;
