// Specific CSS for your home-page
aside {
  padding: 3em;
}

.wrapper {
  background-color: $background-color;
}

.container {
  padding: 0 100px;
}

h3 {
  font-size: 24px;
  color: $primary-contrast;
  font-weight: bold;
}

.card-container {
  height: 60vh;
  width: 100vw;
  margin: 0;
  display:flex;
  justify-content: space-around;
}
