
<div class="bookings-container">
  <h1> Your bookings </h1>
    <% @bookings.each do |booking| %>
      <h4><%= link_to booking.superpower.name, superpower_path(booking.superpower), class:"link" %></h4>
      <p> <%= "Rented from #{booking.superpower.user.username}" %> </p>
      <p> <%= "Dates: from #{booking.start_date} to #{booking.end_date}" %> </p>
    <% end %>
  <%= link_to "Find another superpower to rent", superpowers_path, class:"btn btn-ghost" %>
</div>
