<div class="bookings-container">
  <%= simple_form_for [ @superpower, @booking ] do |f| %>
    <%= f.input :start_date, as: :date %>
    <%= f.input :end_date, as: :date%>
    <%= f.submit "Confirm booking!", class: "btn btn-primary" %>
  <% end %>
</div>
