
<%# <% if user_signed_in? %>

<%# navbar ----- one version for signed in another for not?%>
  <div class="navbar navbar-expand-sm navbar-light navbar-Superpowerly">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://media.istockphoto.com/photos/the-letter-s-in-orange-flames-picture-id178625189?k=20&m=178625189&s=612x612&w=0&h=bpDOFeaRXg6UXObFxkKXvl-FavsViTfr7bs6eIVobrw=" />
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Bookings</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-trendy-flat-style-isolated-white-background-187477840.jpg" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#">Settings</a>
              <a class="dropdown-item" href="#">Sign out</a>
            </div>
          </li>
      </ul>
    </div>
</div>
</div>
<%# <div class="wrapper">
  <div class="banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.wired.com/photos/5c54ee6a4feec32ca0f590d8/125:94/w_1761,h_1324,c_limit/superman-922909434.jpg);">
    <div class="container">
      <h1> Ever seen superheroes? Now you can be one of them! </h1>
      <p> Superpowerly gives you a chance to rent superpowers you always wanted to have </p>
      <button class="btn btn-success">Sign up now!</button>
    </div>
  </div>
  <aside> <h3> Just a thought... would be cool, right?</h3> </aside>
  <div class="card-container row justify-content-around">

    <div class="card-category col-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/474x/89/18/9b/89189b97648afb69d2f9427c93cfc555--fastest-man-comic-books.jpg);">
      <p> Superspeed </p>
    </div>


    <div class="card-category col-3" style="background-image: url(https://townsquare.media/site/98/files/2018/03/ThinkstockPhotos-925159414.jpg?w=980&q=75);">
      <p> Invisibility </p>
    </div>

    <div class="card-category col-3" style="background-image: url(https://media.vanityfair.com/photos/5ef25d9d184617200a49bac5/4:3/w_2999,h_2249,c_limit/M8DBATM_WB002.jpg);">
      <p> Loads of Money </p>
    </div>
  </div>
</div> %>


<div class="wrapper">
  <div class="banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.wired.com/photos/5c54ee6a4feec32ca0f590d8/125:94/w_1761,h_1324,c_limit/superman-922909434.jpg);">
    <div class="container">
      <h1> Ever seen superheroes? Now you can be one of them! </h1>
      <p> Superpowerly gives you a chance to rent superpowers you always wanted to have </p>
      <button class="btn btn-success">Sign up now!</button>
    </div>
  </div>
  <aside> <h3> Just a thought... would be cool, right?</h3> </aside>
  <div class="card-container row justify-content-around">

    <div class="card-category col-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/474x/89/18/9b/89189b97648afb69d2f9427c93cfc555--fastest-man-comic-books.jpg);">
      <p> Superspeed </p>
    </div>


    <div class="card-category col-3" style="background-image: url(https://townsquare.media/site/98/files/2018/03/ThinkstockPhotos-925159414.jpg?w=980&q=75);">
      <p> Invisibility </p>
    </div>

    <div class="card-category col-3" style="background-image: url(https://media.vanityfair.com/photos/5ef25d9d184617200a49bac5/4:3/w_2999,h_2249,c_limit/M8DBATM_WB002.jpg);">
      <p> Loads of Money </p>
    </div>
  </div>
</div>
<footer>
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
     ©Superpowerly.com or whatever 2022
    </div>
  </div>
</footer>
