<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%# navbar here -------- %>
<div class="wrapper">
  <div class="banner">
    <div class="container">
      <h1> Ever seen superheroes? Now you can be one of them. </h1>
      <p> Superpowerly gives you a chance rent superpowers you always wanted to have </p>
      <button class="btn btn-success"></button>
    </div>
  </div>
</div>
<div class="container">
  <div class="card">
  </div>
  <div class="card">
  </div>
</div>
