<%# navbar here -------- %>
<nav>
</nav>
<div class="wrapper">
  <div class="banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.wired.com/photos/5c54ee6a4feec32ca0f590d8/125:94/w_1761,h_1324,c_limit/superman-922909434.jpg);">
    <div class="container">
      <h1> Ever seen superheroes? Now you can be one of them! </h1>
      <p> Superpowerly gives you a chance to rent superpowers you always wanted to have </p>
      <button class="btn btn-success">Sign up now!</button>
    </div>
  </div>
  <aside> <h3> Just a thought... would be cool, right?</h3> </aside>
  <div class="card-container row justify-content-around p-3 b-5">

    <div class="card-category col-3 mx-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/474x/89/18/9b/89189b97648afb69d2f9427c93cfc555--fastest-man-comic-books.jpg);">
      <p> Superspeed </p>
    </div>


    <div class="card-category col-3 mx-5" style="background-image: url(https://townsquare.media/site/98/files/2018/03/ThinkstockPhotos-925159414.jpg?w=980&q=75);">
      <p> Invisibility </p>
    </div>

    <div class="card-category col-3 mx-5" style="background-image: url(https://media.vanityfair.com/photos/5ef25d9d184617200a49bac5/4:3/w_2999,h_2249,c_limit/M8DBATM_WB002.jpg);">
      <p> Loads of Money </p>
    </div>
  </div>
</div>
<footer>
</footer>
