
<%# <% if user_signed_in? %>

<%# navbar ----- one version for signed in another for not?%>

<%# <div class="wrapper">
  <div class="banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.wired.com/photos/5c54ee6a4feec32ca0f590d8/125:94/w_1761,h_1324,c_limit/superman-922909434.jpg);">
    <div class="container">
      <h1> Ever seen superheroes? Now you can be one of them! </h1>
      <p> Superpowerly gives you a chance to rent superpowers you always wanted to have </p>
      <button class="btn btn-success">Sign up now!</button>
    </div>
  </div>
  <aside> <h3> Just a thought... would be cool, right?</h3> </aside>
  <div class="card-container row justify-content-around">

    <div class="card-category col-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/474x/89/18/9b/89189b97648afb69d2f9427c93cfc555--fastest-man-comic-books.jpg);">
      <p> Superspeed </p>
    </div>


    <div class="card-category col-3" style="background-image: url(https://townsquare.media/site/98/files/2018/03/ThinkstockPhotos-925159414.jpg?w=980&q=75);">
      <p> Invisibility </p>
    </div>

    <div class="card-category col-3" style="background-image: url(https://media.vanityfair.com/photos/5ef25d9d184617200a49bac5/4:3/w_2999,h_2249,c_limit/M8DBATM_WB002.jpg);">
      <p> Loads of Money </p>
    </div>
  </div>
</div> %>


<div class="wrapper">
  <div class="banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpaperforu.com/wp-content/uploads/2020/08/neon-wallpaper-20081815214419-scaled.jpg);">
    <div class="container ">
      <h1> There's a superhero inside all of us </h1>
      <p> Superpowerly gives you a chance to rent superpowers you always wanted to have </p>
      <% if user_signed_in?%>
        <%= link_to "Rent now!", superpowers_path, class: "main-button", id:"search" %>
      <% else %>
        <%= link_to "Sign up!", new_user_registration_path, class: "main-button" %>
      <% end %>
    </div>
  </div>

  <div class="main-container justify-content-around">
    <div class="cards">
      <div class="blog-card">
        <div class="blog-card-header">
          <img src="https://c0.wallpaperflare.com/preview/483/210/436/car-green-4x4-jeep.jpg" alt="spring" />
        </div>
        <div class="blog-card-body">
          <span class="card-tag tag-purple">Limited Edition</span>
          <h4>
            Superpowers for spring
          </h4>
          <p>
            Some cool superpower for spring...
          </p>
          <div class="card-user">
            <img src="https://yt3.ggpht.com/a/AGF-l7-0J1G0Ue0mcZMw-99kMeVuBmRxiPjyvIYONg=s900-c-k-c0xffffffff-no-rj-mo" alt="user" />
            <div class="user-info">
              <h5>July Dec</h5>
              <small>2h ago</small>
            </div>
          </div>
        </div>
      </div>
      <div class="blog-card">
        <div class="blog-card-header">
          <img src="https://www.newsbtc.com/wp-content/uploads/2020/06/mesut-kaya-LcCdl__-kO0-unsplash-scaled.jpg" alt="ballons" />
        </div>
        <div class="blog-card-body">
          <span class="card-tag tag-purple">Popular</span>
          <h4>
            Most popular superpowers in 2021
          </h4>
          <p>
            Covid inmune
          </p>
          <div class="card-user">
            <img src="https://lh3.googleusercontent.com/ogw/ADGmqu8sn9zF15pW59JIYiLgx3PQ3EyZLFp5Zqao906l=s32-c-mo" />
            <div class="user-info">
              <h5>Eyup Ucmaz</h5>
              <small>2 weeks ago</small>
            </div>
          </div>
        </div>
      </div>
      <div class="blog-card">
        <div class="blog-card-header">
          <img src="https://images6.alphacoders.com/312/thumb-1920-312773.jpg" />
        </div>
        <div class="blog-card-body">
          <span class="card-tag tag-purple">Useful</span>
          <h4>
            10 Situations where you shouldn't use your superpowers
          </h4>
          <p>
            Efgdrgdtgrdgr
          </p>
          <div class="card-user">
            <img src="https://studyinbaltics.ee/wp-content/uploads/2020/03/3799Ffxy.jpg" />
            <div class="card-user-info">
              <h5>Carrie Brewer</h5>
              <small>1w ago</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
