// .card-category {
//   background-size: cover;
//   background-position: center;
//   height: 180px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border-color: $primary-contrast;
//   font-size: 24px;
//   font-weight: bold;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   border-radius: 5px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
// }



* {
  box-sizing: border-box;
}

.main-container {
  display: flex;
  // width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 25px;
}
.blog-card {
  background-color: $background-color;
  border-color: $secondary-contrast;
  margin: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  border-color: $secondary-contrast;
}

.blog-card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.blog-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.blog-card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.card-user {
  display: flex;
  margin-top: auto;
}

.card-user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.card-user-info h5 {
  margin: 0;
}
.card-user-info small {
  color: #545d7a;
}

// TAG
.card-tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin-bottom: 15px;
  color: #fff;
  padding: 8px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: $light-color;
}
.tag-purple {
  background-color: $primary-contrast;
  color: $bright-color;
  font-weight: 200;
}

// REGULAR CARDS IN INDEX

$base-duration: 500ms;


// Breakpoints device screen
$sm: new-breakpoint(min-width 320px);
$med: new-breakpoint(min-width 768px);
$lg: new-breakpoint(min-width 1024px);

// *, *:before, *:after {
// 	box-sizing: border-box;
// 	outline: none;
// }

// html {
// 	font-size: 16px;
// 	font-smooth: auto;
// 	font-weight: 300;
// 	line-height: 1.5;
// 	color: #444;
// }



figure {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 375px;
	height: 375px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	overflow: hidden;
	&:hover {
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		img {
			transform: scale(1.25);
		}
		figcaption {
			bottom: 0;
		}
    border-style: solid;
    border-color: $secondary-contrast;
    padding: 10px;
	}
	h1 {
		position: absolute;
		top: 50px;
		left: 20px;
		margin: 0;
		padding: 0;
		color: $secondary-contrast;
		font-size: 60px;
		font-weight: 100;
		line-height: 1;
	}
	img {
		height: 100%;
		transition: 0.25s;
	}
	figcaption {
		position: absolute;
		bottom: -25%;
		left: 0;
		width: 100%;
		//height: 50%;
		margin: 0;
		padding: 30px;
		background-color: rgba(black,0.85);
		box-shadow: 0 0 20px rgba(black,0.4);
		color: $secondary-contrast;
		line-height: 1;
		transition: 0.25s;
    h4 {
      color: $secondary-contrast;
    }
		h3 {
			margin: 0 0 20px;
			padding: 0;
      letter-spacing: 2px;
      text-transform: uppercase;
		}
		p {
			font-size: 20px;
      color: $secondary-contrast;
		}
		card-link {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 10px 0 0;
			padding: 10px 30px;
			background-color: $background-color;
			border: none;
			color: $secondary-contrast;
			font-size: 14px;
		}
	}
}

// users uploaded superpowers card


.yours{
  border-style: solid;
  border-color: $bright-color;
  width: 250px;
  height: 250px;
  margin-bottom: 2rem;
  h3 {
    font-size: 12px;
  }
  figcaption {
    justify-content: center;
    display: inline-grid;
    padding: 10px;
    background-color: $bright-color;
    opacity: 0.8;
  }

}

.yours:hover{
  border-style: solid;
  border-color: $background-color;
}

// SHOW PAGE HUGE CARD
.show-card {
  width: 80%;
  margin-top: 4rem;
  margin-bottom: 15px;
  overflow: hidden;
  background: $background-color;
  box-shadow: 0 0 15px rgba(58, 58, 58, 0.2);
  border-style: solid;
  border-color: $secondary-contrast;
  padding: 2rem 3rem 3rem 3rem;
  display: flex;
}
.show-card img{
  width: 50%;
  height: 500px;
  object-fit: cover;
  margin-right: 2rem;
}

.show-card-text {
  padding-left: 25px;
}

.show-card h2 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 15px;
  color: $secondary-contrast;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.show-card p {
  font-size: 20px;
  margin: 0;
  color: $primary-contrast;
  margin-bottom: 1rem;
}

.reviews {
  font-size: 20px;
  opacity: .7;
  margin: 0;
  color: $primary-contrast;
}

.show-card-infos center{
  position: relative;
  right: 3rem;
}


// CARDS FOR BOOKINGS

.card-product {
  overflow: hidden;
  height: 120px;
  width: 60%;
  background: $background-color;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  color: $primary-contrast;
  margin-top: 30px;
  margin-bottom: 50px;
  border-style: solid;
  border-color: $secondary-contrast;
}

.card-product:hover {
  overflow: hidden;
  height: 120px;
  width: 60%;
  background: $background-color;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  color: $primary-contrast;
  margin-top: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: $primary-contrast;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: $secondary-contrast;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: $primary-contrast;
}

.card-product .card-product-infos {
  padding: 16px;
}
