.footer {
  background: $background-color;
  height: 100px;
  padding: 0px 50px;
  color: rgb(192, 192, 192);
  justify-content: center;
  display: block;
  align-items: center;
  font-size: 16px;
}
.footer-links {
  display: flex;
  justify-content: center;
}
.footer-links a {
  color: rgb(192, 192, 192);
  opacity: 0.9;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: $secondary-contrast;
}
.center-footer {
  display: flex;
  justify-content: center;
}
