/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
  color: $primary-contrast;
  background-color: rgba(0,0,0,0.4);

}

.modal-dialog {
  background-color: $background-color;
  border: 3px solid $secondary-contrast;
}

/* Modal Content/Box */
.modal-body {
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  background-color: $background-color;
}

.modal-content {
  background-color: $background-color;
}

.btn-close {
  background-color: $secondary-contrast;
}
